/* Page Layout */
html,
body {
    margin: 0;
}

/* Elements */

.header {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid #14191c1a;
}

.notification > h4 {
    font-family: 'Satoshi', sans-serif;
    font-size: 15px;
}

.notification> h4> a {
    color: white;
}

.notification> h4> a:hover,
.notification> h4> a:active {
    color: white;
}

li>a {
    color: black;
    text-decoration: none;
}

li>a:hover,
li>a:active {
    color: gray;
}


.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-nav>ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    flex-grow: 1;
}

.header-nav>ul>li {
    color: black;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 550;
    transition: all .2s;
}

.header-nav>button {
    margin-left: 20px;
}


/* Classes */

.notification {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.1px;
    background-image: linear-gradient(90deg, #3ba8ea, #17abbf);
    text-align: center;
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-weight: 100;
    font-size: 15px;
    z-index: 998;
}

.sign-in-btn {
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 550;
    font-size: .9rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    outline: inherit;
}

.sign-in-btn:hover,
.sign-in-btn:active {
    color: gray;
}

.buttons {
    color: #fff;
    border-radius: 4px;
    border-width: 0;
    min-height: 48px;
    padding: .75rem 1.5rem;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
    background-image: linear-gradient(90deg, #17abbf, #3ba8ea);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-inline: 10px;
    min-width: 150px;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    min-width: 250px;
}

.hero {
    text-align: center;
    background-image: "./images/hex.svg";
}

.hero-text {
    margin-inline: 150px;
}

h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'Satoshi', sans-serif;
    font-size: 22px;
}

h3 {
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

h4 {
    font-size: 1.75rem;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.buttons-secondary {
    border: 1.75px solid #39a8e8;
    color: #39a8e8;
    border-radius: 4px;
    background-color: white;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
}

/* How Component */

.how-it-works {
    background-image: linear-gradient(#06212d, #1e3741);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-panel {
    display: flex;
    text-align: left;
}

.tabs {
    margin-inline: 150px;
}

.tab-list {
    display: flex;
    justify-content: center;
}

.tab,
.tab:hover,
.tab:focus {
    background-color: transparent;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 1.5rem;
    border: none;
    margin-inline: 10px;
}

.tab {
    color: rgba(128, 128, 128, 0.553);
}

.tab:hover,
.tab:active {
    color: grey;
}

 .selected:hover {
    color: white;
}

.selected {
    background-color: transparent;
    color: white;
}

.hero-text > * {
    font-weight: 500;
}